*{
  background-color: #5b90da;
}


header {
  background-color: #ffffff48;
  color: #fff;
  padding: 20px;
}

h1{
  color: #fff;
}


input[type="text"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  background-color: #557aff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

img{
  width: 400px;

}

li {
  list-style: none; 
  margin: 30px;
  display: inline;
  }
  li a {
  padding: 5px 10px; 
  margin:0;
  border: 0px solid rgb(0, 0, 0); 
  background-color: #6f8cff;
  text-decoration: none;
  color:#FFF;
  border-radius:5px;
  }
  li a:hover {
 background: #3468ec;
 color: #000; 
 border-color: #000;
  }

  p{
    color: #fff;
  }

  .project-card{

    background-color: #5b90da;
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
    
  }
